.loader-block {
  width: 100%;
  min-height: 40px;
}

._bold {
  font-weight: 700;
  font-size: 0.8rem;
}

.data-block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  > p {
    margin: 0;
    margin-right: 5px;
  }
}
