<div class="list-item">
  <div class="_flex _flex-column _align-items _justify-center">
    <p class="paragraph _bold _no-margin">
      {{ item?.name }}
    </p>
    <p class="paragraph-2 _no-margin">
      <span class="_bold">Engine</span>: {{ item?.plugin }}
    </p>
  </div>
  <div class="_flex _align-items">
    <nb-actions size="small">
      <nb-action
        (click)="sendMessage()"
        nbTooltip="Preencher dados"
        icon
        icon="arrowhead-down-outline"
      ></nb-action>
      <nb-action
        (click)="toggleExpanded()"
        nbTooltip="Ver credenciais"
        [icon]="expanded ? 'eye-off-outline' : 'eye-outline'"
      ></nb-action>
      <nb-action
        (click)="deleteSource()"
        nbTooltip="Deletar source"
        nbTooltipPlacement="left"
        icon="trash-outline"
        [disabled]="deleting"
        [nbSpinner]="deleting"
        class="last-action"
      ></nb-action>
    </nb-actions>
  </div>
</div>

<app-credentials-view
  [credentials]="item?.credentials || ''"
  *ngIf="expanded"
></app-credentials-view>
