<nb-card>
  <nb-card-body>
    <div class="header-block">
      <nb-icon class="icon-block" icon="arrowhead-down"></nb-icon>
      <h1 class="h4 title-block">Fill Source</h1>
    </div>

    <p class="sub-header">
      {{ login ? 'Faça seu login' : 'Faça seu cadastro' }}
    </p>

    <div class="form-block">
      <nb-form-field class="field-block">
        <div class="label-block label">
          <label>E-mail</label>
        </div>
        <input
          nbInput
          fullWidth
          type="email"
          [(ngModel)]="email"
          fieldSize="large"
        />
      </nb-form-field>
      <nb-form-field class="field-block">
        <div class="label-block label">
          <label>Senha</label>
        </div>
        <input
          nbInput
          fullWidth
          type="password"
          [(ngModel)]="password"
          fieldSize="large"
        />
      </nb-form-field>
    </div>

    <button
      nbButton
      status="primary"
      [disabled]="
        email.trim().length === 0 ||
        password.trim().length === 0 ||
        loading ||
        !email.endsWith('@dadosfera.ai')
      "
      (click)="loginOrRegister()"
      [nbSpinner]="loading"
      fullWidth
    >
      {{ login ? 'Fazer login' : 'Fazer cadastro' }}
    </button>

    <p class="label-block label action-login" (click)="toggleLogin()">
      {{
        login
          ? 'Não possui conta? Faça seu cadastro'
          : 'Já possui conta? Faça seu login'
      }}
    </p>
  </nb-card-body>
</nb-card>
