<nb-card>
  <nb-card-body>
    <div class="header-block">
      <nb-icon class="icon-block" icon="arrowhead-down"></nb-icon>
      <h1 class="h4 title-block">Fill Source</h1>
    </div>

    <ng-container *ngIf="view === 'magic'">
      <p class="sub-header -bigger">Autenticação realizada!</p>
    </ng-container>

    <ng-container *ngIf="view === 'confirm'">
      <p class="sub-header -bigger">Seu e-mail foi confirmado!</p>
      <p class="sub-header">Já pode fazer login na extensão</p>
    </ng-container>

    <ng-container *ngIf="view === 'password'">
      <p class="sub-header">Digite sua nova senha</p>

      <div class="form-block">
        <nb-form-field class="field-block">
          <div class="label-block label">
            <label>Senha</label>
          </div>
          <input
            nbInput
            fullWidth
            type="password"
            [(ngModel)]="password"
            fieldSize="large"
          />
        </nb-form-field>

        <nb-form-field class="field-block">
          <div class="label-block label">
            <label>Confirmar senha</label>
          </div>
          <input
            nbInput
            fullWidth
            type="password"
            [(ngModel)]="confirmPassword"
            fieldSize="large"
          />
        </nb-form-field>
      </div>

      <button
        nbButton
        status="primary"
        [disabled]="
          password.trim().length < 6 ||
          confirmPassword.trim().length < 6 ||
          loading ||
          password !== confirmPassword
        "
        [nbSpinner]="loading"
        fullWidth
        (click)="resetPassword()"
      >
        Resetar senha
      </button>
    </ng-container>
  </nb-card-body>
</nb-card>
