<nb-card [nbSpinner]="loading">
  <nb-card-header>
    <div class="header-block">
      <p>Olá!</p>

      <nb-actions size="small">
        <nb-action
          (click)="goToCreate()"
          nbTooltip="Criar novo source"
          icon="plus-circle-outline"
        ></nb-action>
        <nb-action
          (click)="supabaseService.signOut()"
          nbTooltip="Fazer logout"
          icon="log-out-outline"
          class="last-action"
        ></nb-action>
      </nb-actions>
    </div>

    <div class="search-block">
      <nb-form-field>
        <nb-icon nbPrefix icon="search"></nb-icon>
        <input
          type="text"
          nbInput
          fullWidth
          placeholder="Pesquisar sources cadastradas"
          [formControl]="searchControl"
          id="input-test"
        />
      </nb-form-field>
    </div>
  </nb-card-header>

  <div class="list-block">
    <nb-list *ngIf="allSources && allSources.length">
      <nb-list-item *ngFor="let item of filteredSources">
        <div class="list-item">
          <div class="_flex _flex-column _align-items _justify-center">
            <p class="paragraph _bold _no-margin">
              {{ item?.name }}
            </p>
            <p class="paragraph-2 _no-margin">
              <span class="_bold">Engine</span>: {{ item?.plugin }}
            </p>
          </div>
          <div class="_flex _align-items">
            <nb-actions size="small">
              <nb-action
                (click)="sendMessage(item.credentials)"
                nbTooltip="Preencher dados"
                icon
                icon="arrowhead-down-outline"
              ></nb-action>
              <nb-action
                (click)="toggleExpanded(item.id)"
                nbTooltip="Ver credenciais"
                [icon]="
                  expanded.includes(item.id) ? 'eye-off-outline' : 'eye-outline'
                "
              ></nb-action>
              <nb-action
                (click)="deleteSource(item.id)"
                nbTooltip="Deletar source"
                icon="trash-outline"
                [disabled]="deleting"
                [nbSpinner]="deleting"
              ></nb-action>
            </nb-actions>
          </div>
        </div>

        <app-credentials-view
          [credentials]="item?.credentials || ''"
          *ngIf="expanded.includes(item.id)"
        ></app-credentials-view>
      </nb-list-item>
    </nb-list>
  </div>

  <nb-card-body
    *ngIf="filteredSources && filteredSources.length === 0 && !loading"
  >
    <div class="no-data-block">
      <p id="text" class="p1">Sem itens para o termo de busca</p>
    </div>
  </nb-card-body>

  <nb-card-body *ngIf="allSources.length === 0 && !loading">
    <div class="no-data-block">
      <h1 id="title" class="h4">Lista vazia</h1>

      <p id="text" class="p1">
        Crie seu primeiro source para começar a economizar tempo
      </p>

      <button
        nbButton
        status="success"
        size="large"
        (click)="goToCreate()"
        id="newItem"
      >
        <nb-icon icon="plus-circle"></nb-icon>
        Criar novo source
      </button>
    </div>
  </nb-card-body>
</nb-card>
