.user-name {
  font-weight: 700;
}

.header-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-block {
  margin-top: 0.5rem;
}

nb-card {
  height: 100%;
  max-height: 500px;
}

nb-card-body {
  height: 100%;
}

.loader-block {
  height: 60px;
  width: 100%;
}

.list-block {
  min-height: 60px;
}

.no-data-block {
  margin: 4rem;
  text-align: center;

  >.h4 {
    color: nb-theme(color-primary-500);
  }

  >.p1 {
    width: 100%;
    max-width: 550px;
    margin: 1rem auto;
  }
}

button {
  margin-top: 10px;

  &.-basic {
    color: nb-theme(color-basic-700) !important;
    margin-right: 16px;
  }
}

nb-list-item {
  display: flex;
  flex-direction: column;
}

.list-item {
  min-height: 60px;
  display: flex;
      justify-content: space-between;
      width: 100%;
}

._bold {
  font-weight: 700;
}

._no-margin {
  margin: 0;
}

._flex {
  display: flex;
}

._flex-column {
  flex-direction: column;
}

._align-center {
  align-items: center;
}

._justify-center {
  justify-content: center;
}
