.user-name {
  font-weight: 700;
}

.header-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-block {
  margin-top: 0.5rem;
}

nb-card {
  height: 500px
}

nb-card-body {
  height: 100%;
}

.loader-block {
  height: 60px;
  width: 100%;
}

.list-block {
  min-height: 60px;
}

nb-list-item {
  display: flex;
  flex-direction: column;
}
