<nb-card>
  <nb-card-header>
    <div class="header-block">
      <p>
        Olá<span class="user-name"
          >, {{ auth.user?.displayName | displayName }}</span
        >!
      </p>

      <nb-actions size="small">
        <nb-action
          (click)="goToCreate()"
          nbTooltip="Criar novo source"
          icon="plus-circle-outline"
        ></nb-action>
        <nb-action
          (click)="auth.logout()"
          nbTooltip="Fazer logout"
          icon="log-out-outline"
        ></nb-action>
      </nb-actions>
    </div>

    <div class="search-block">
      <nb-form-field>
        <nb-icon nbPrefix icon="search"></nb-icon>
        <input
          type="text"
          nbInput
          fullWidth
          placeholder="Pesquisar sources cadastradas"
        />
      </nb-form-field>
    </div>
  </nb-card-header>

  <nb-card-body [nbSpinner]="loading">
    <div *ngIf="allSources && allSources.length">
      <ul>
        <li *ngFor="let item of allSources">
          {{ item?.name }}
          <code>{{ item?.key }}</code>
        </li>
      </ul>
    </div>

    <div *ngIf="allSources.length === 0 && !loading">
      No results, try clearing filters
    </div>
  </nb-card-body>
</nb-card>
