.user-name {
  font-weight: 700;
}

.header-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-block {
  margin-top: 0.5rem;
}

nb-card {
  height: 100%;
  max-height: 500px;
}

nb-card-body {
  height: 100%;
}
