<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <nb-card>
    <nb-card-header>
      <div class="header-block" (click)="goBack()">
        <nb-actions size="small">
          <nb-action
            nbTooltip="Voltar"
            icon="arrow-ios-back-outline"
          ></nb-action>
        </nb-actions>
        <p class="paragraph title-block">Criar novo source</p>
      </div>
    </nb-card-header>

    <nb-card-body>
      <div class="form-block">
        <nb-form-field class="field-block">
          <div class="label-block label">
            <label>Apelido para a source</label>
          </div>
          <input
            nbInput
            fullWidth
            formControlName="name"
            fieldSize="large"
            placeholder="minha-source"
          />
        </nb-form-field>

        <nb-form-field class="field-block">
          <div class="label-block label">
            <label>Tipo da engine</label>
          </div>
          <nb-select
            placeholder="Selecione o tipo da Engine"
            formControlName="plugin"
            fullWidth
            size="large"
          >
            <nb-option value="mysql">MySQL</nb-option>
            <nb-option value="postgresql">PostgreSQL</nb-option>
            <nb-option value="oracle">Oracle</nb-option>
            <nb-option value="sqlserver">SQL Server</nb-option>
          </nb-select>
        </nb-form-field>

        <div formGroupName="credentials">
          <nb-form-field class="field-block">
            <div class="label-block label">
              <label>Usuário do banco</label>
            </div>
            <input
              nbInput
              fullWidth
              formControlName="jdbc_user"
              fieldSize="large"
            />
          </nb-form-field>

          <div class="field-block">
            <div class="label-block label">
              <label>Senha do usuário no banco (opcional)</label>
            </div>
            <input
              nbInput
              fullWidth
              formControlName="jdbc_password"
              fieldSize="large"
            />
          </div>

          <nb-form-field class="field-block">
            <div class="label-block label">
              <label>Schema</label>
              <nb-icon
                icon="question-mark-circle-outline"
                nbTooltip="Coleção de objetos do banco de dados"
                status="basic"
              ></nb-icon>
            </div>
            <input
              nbInput
              fullWidth
              placeholder="nome_do_schema"
              formControlName="schema"
              fieldSize="large"
            />
          </nb-form-field>

          <nb-form-field class="field-block">
            <div class="label-block label">
              <label>Database</label>
              <nb-icon
                icon="question-mark-circle-outline"
                nbTooltip="Nome do banco de dados a ser importado"
                status="basic"
              ></nb-icon>
            </div>
            <input
              nbInput
              fullWidth
              placeholder="my-db"
              formControlName="database"
              fieldSize="large"
            />
          </nb-form-field>

          <nb-form-field class="field-block">
            <div class="label-block label">
              <label>Endpoint</label>
              <nb-icon
                icon="question-mark-circle-outline"
                nbTooltip="Endereço público de conexão do seu banco de dados. Nos formatos válidos de IPv4 ou DNS"
                status="basic"
              ></nb-icon>
            </div>
            <input
              nbInput
              fullWidth
              placeholder="URL de acesso"
              formControlName="endpoint"
              fieldSize="large"
            />
          </nb-form-field>

          <nb-form-field class="field-block">
            <div class="label-block label">
              <label>Número da porta</label>
              <nb-icon
                icon="question-mark-circle-outline"
                nbTooltip="Caso queira modificar o número da porta sugerida, digite manualmente"
                status="basic"
              ></nb-icon>
            </div>
            <input
              type="number"
              [min]="0"
              nbInput
              fullWidth
              formControlName="port"
              fieldSize="large"
            />
            <p class="caption-block caption" aria-label="caption">
              Padrão oferecido pelo Banco de Dados
            </p>
          </nb-form-field>
        </div>
      </div>
    </nb-card-body>

    <nb-card-footer>
      <button
        nbButton
        status="primary"
        [disabled]="savingSource || !form.valid"
        [nbSpinner]="savingSource"
        type="submit"
      >
        Criar source
      </button>
    </nb-card-footer>
  </nb-card>
</form>
