@use 'themes' as *;

@use '@beast/theme/styles/globals' as *;

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */

html {
  font-size: 14px;
}

html, body {
  overflow-y: hidden;
}

body {
  margin: 0;
}

body,
app-root,
nb-layout,
.scrollable-container,
.layout,
.layout-container,
.content,
.columns,
nb-layout-column {
  width: 400px;
  height: 520px !important;
}

nb-layout-column {
  padding: 10px !important;
}

nb-card {
  margin-bottom: 0;
}
