@use 'themes' as *;

@use '@beast/theme/styles/globals' as *;

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */

html {
  font-size: 14px;
}

html, body {
  overflow-y: hidden;
}

body {
  margin: 0;
}

nb-layout-column {
  padding: 10px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

nb-card {
  margin-bottom: 0;
}

._bold {
  font-weight: 700;
}

._no-margin {
  margin: 0;
}

._flex {
  display: flex;
}

._flex-column {
  flex-direction: column;
}

._align-center {
  align-items: center;
}

._justify-center {
  justify-content: center;
}

.last-action {
  padding-right: 0 !important;
}

nb-card-header {
  padding: 1rem !important;
}
